
.sidebar {
  background-color: #f0f0f0;
  width: 8%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Style the logout button */
.logout {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
 
  
}

.logout a {
  color: red;
  font-size: 14px;
  padding: 2px;
  margin: 0px 0px 5px 0px;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
  width: 75%;
  margin: auto;
  padding: 20px;

}


.profile-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(75, 196, 5);
  margin: auto;

}

.profile-picture {
  width: 100%;
  height: 0;
  padding-top: 60%;  
  overflow: hidden;
  position: relative;
}

.profile-picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.profile-details {
  width: 100%;
  text-align: center;
}


.account{
  width: 50%;
  margin: auto;
  border: 5px solid green;
  border-radius: 20px;
  padding: 3% 10% 3% 10%;
}

.account img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10% 5% 10% 30%;
 
     
}

#avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10% 5% 10% 30%;
}
.account button{
  margin: 4% 3% 3% 1%;
}
#option {
  width: 100%;
  height: 38px;
  margin: 10px auto 10px auto;
  padding: 19px;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid rgb(8, 8, 8);
  outline: none;
}

table {
  padding: 1px;
  color: black;
  font-weight: 300;
  font-size: 14px;
  width: 100%; 
  border-collapse: collapse;  
  
}

td {
  word-wrap: break-word;  
  max-width: 200px;  
  padding: 8px;
  border: 1px solid rgb(218, 218, 218);  
}



/* Favourites styles  */
.favorites{
  width: 80%;
  border: 3px solid grey;
  margin: 3% auto 5% auto;
  height: 90vh;
  padding: 1%;
  border-radius: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.favorites > div {
  width: 100%;
  padding: 1%;
  
}
.favorites > div button {
  color: rgb(255, 255, 255);
  width: 21;
  padding: 5px;
  background-color: darkgray;
  
   
}



/* Messages styles  */

.messages{
  width: 80%;
  background-color: aqua;
  height: 80vh;
  margin: 2% auto;
  border-radius: 2%;
  display: flex;
  overflow: hidden;


}

.inbox{
  flex: 1;
  background-color: cadetblue;
  padding: 1%;
}

.chat{
  flex: 2;
}