
/* Footer.css */
.footer {
  background: linear-gradient(135deg, #fd1d1d, #833ab4, #fd1d1d, #fcb045);
  padding: 20px;
  color: #ffffff;
  font-weight: 500;
  position: absolute;  
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-row-1 {
  text-align: center;
  margin-bottom: 10px;
}

.footer-row-2 {
  text-align: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.footer li {
  display: inline;
  margin: 0 10px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}