*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;

}

.App {
  min-height: 100vh;  
  display: flex;  
  flex-direction: column;  
}

.content-wrapper {
  flex: 1;  
  
}


.landing {
  background-image: url(https://images.unsplash.com/photo-1507101105822-7472b28e22ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80);
  height: 100vh; /* Use 100vh to cover the entire viewport height */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  position: fixed; /* Use fixed positioning to make it sticky */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Set a negative z-index to ensure it's behind other content */
}


.landingspace {
  display: flex;
  padding: 4%;
  margin: auto;
  max-height: 100vh;  
  overflow-y: auto;  
  z-index: 3;
  margin: auto;
}

.landingspace > div {
  flex: 1;
}

.formwrapper{
  border: 1px solid rgb(207, 203, 203);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  width: 70%;
  backgroundColor: "transparent",

}

.formwrapper h1{
  font-size: 30px;
  font-weight: bold;
  color:    #e93434 ;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.formwrapper h3{
  font-size: 22px;
  color: white;
  text-align: center;
}
.formwrapper p{
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

input {
  width: 100%;
  height: 28px;
  margin: 6px auto 6px auto;
  padding: 15px;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid rgb(8, 8, 8);
  outline: none;
}

form label{
  font-size: 14px;
  color: #000000;
  margin-left: 10px;
}

input, select {
  width: 100%;
  height: 8px;
  margin: 6px auto;
  padding: 15px;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid rgb(8, 8, 8);
  outline: none;
}

button{
  height: 28px;
  padding: 10px;
  margin: auto;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(219, 78, 13);
  border: none;
  cursor: pointer;
}

#sign {
  color:  rgb(57, 221, 16);
  font-size: 16px;
  font-weight: 900;
  margin: auto;
  margin: 2px 2px 2px 5px;
}

.signword{
  font-size: 16px;
  font-weight: 600;
  padding: 0.1em;
  color:  rgb(0, 0, 0);
}



 
